aiohttp
aiosignal
colorama
future
httpcore
httplib2
httpx
jsonpatch
jsonpointer
keyring
matplotlib
msgpack
networkx
numpy
oauthlib
pandas
pillow
pipx
psutil
py-trees
pydantic
pydantic-core
pygame
PyYAML
pyzmq
regex
requests
requests-oauthlib
requests-unixsocket
rsa
scikit-learn
scipy
shapely
simplejson
urllib3
zmq
